
        <h5  class="card-header bg-light p-1">Scope</h5>
        <div  class="card-body p-0">
                <div class="card-body p0_5">e.g. human allowable exposures in health risk assesment, prioritization, screening, classification and labelling. Indicate
                        also which data gaps are to be filled by the RAx.</div>
                <div class="upload-angular-container" class="p0_5">
                <ckeditor [id]="this.ckeditor_ids['scope']" [editor]="Editor" [config]="this.ckeditors['scope']" [(ngModel)]="problem_formulation.scope" [disabled]="this.inline_problem_description"></ckeditor>
                </div>
                <div class="smiles-micromodal-container">
                        <app-smiles-micromodal [id]="this.ckeditor_ids['scope']+'-smiles-micromodal'"></app-smiles-micromodal>
                </div>
        </div>
        <h5 class="card-header bg-light p-1">Decision context</h5>
        <div  class="card-body p-0">
                <div class="card-body p0_5">Describe the regulatory context, data requirements and the testing strategy</div>

                <div class="upload-angular-container" class="p0_5">
                <ckeditor [id]="this.ckeditor_ids['decision_context']" [editor]="Editor" [config]="this.ckeditors['decision_context']" [(ngModel)]="problem_formulation.decision_context" [disabled]="this.inline_problem_description"></ckeditor>
                </div>
                <div class="smiles-micromodal-container">
                        <app-smiles-micromodal [id]="this.ckeditor_ids['decision_context']+'-smiles-micromodal'"></app-smiles-micromodal>
                </div>
        </div>
        <h5 class="card-header bg-light p-1">Endpoints</h5>
        <div  class="card-body p-0">
                <div class="card-body p0_5">Endpoints to study</div>
                <div class="upload-angular-container" class="p0_5">
                <ckeditor [id]="this.ckeditor_ids['endpoints']" [editor]="Editor" [config]="this.ckeditors['endpoints']" [(ngModel)]="problem_formulation.endpoints" [disabled]="this.inline_problem_description"></ckeditor>
                </div>
                <div class="smiles-micromodal-container">
                        <app-smiles-micromodal [id]="this.ckeditor_ids['endpoints']+'-smiles-micromodal'"></app-smiles-micromodal>
                </div>
        </div>
        <h5 class="card-header bg-light p-1">Tolerable uncertainty threshold</h5>
        <div  class="card-body p-0">
                <div class="card-body p0_5">Tolerable uncertainty threshold for Read-Across results a according to the regulatory context</div>
                <div class="upload-angular-container" class="p0_5">
                <ckeditor [id]="this.ckeditor_ids['uncertainty']" [editor]="Editor" [config]="this.ckeditors['uncertainty']" [(ngModel)]="problem_formulation.uncertainty" [disabled]="this.inline_problem_description"></ckeditor>
                </div>
                <div class="smiles-micromodal-container">
                        <app-smiles-micromodal [id]="this.ckeditor_ids['uncertainty']+'-smiles-micromodal'"></app-smiles-micromodal>
                </div>
        </div>

