[submodule "ckeditor5-custom-element-molecule"]
	path = ckeditor5-custom-element-molecule
	url = git@github.com:phi-grib/ckeditor5-custom-element-molecule.git
[submodule "ckeditor5-build-classic-custom"]
	path = ckeditor5-build-classic-custom
	url = git@github.com:phi-grib/ckeditor5-build-classic-custom.git
[submodule "ckeditor5-build-inline-custom"]
	path = ckeditor5-build-inline-custom
	url = git@github.com:phi-grib/ckeditor5-build-inline-custom.git
[submodule "multi-select"]
	path = multi-select
	url = git@github.com:lou/multi-select.git
