
<div class="limit">
    <div class="row p-5 justify-content-center">
        <div class="card node {{projectName}}" [ngClass]="{'checked':this.checked.node1}" id="{{projectName}}_id_1" cdkDragBoundary=".limit" cdkDrag (cdkDragMoved)="reDraw()" (dblclick)="nodeInfo_selected(projectName,1)">
            <div class="card-body">
                1.Problem formulation
            </div>
        </div>
    </div>
    <div class="row m-5 justify-content-center">
        <div class="card parent" cdkDragBoundary=".limit" cdkDrag (cdkDragMoved)="reDraw()">
            <div class="card-body">
                <div class="card node m-5 {{projectName}}" [ngClass]="{'checked':this.checked.node2}" id="{{projectName}}_id_2" (dblclick)="nodeInfo_selected(projectName,2)">
                    <div class="card-body">
                    2.TC Characterization
                    </div>
                </div>
                <div class="card node m-5 {{projectName}}" [ngClass]="{'checked':this.checked.node3}" id="{{projectName}}_id_3" (dblclick)="nodeInfo_selected(projectName,3)">
                    <div class="card-body">
                    Metabolism data gathering
                    </div>
                </div>
                <div class="card node m-5 {{projectName}}" [ngClass]="{'checked':this.checked.node4}" id="{{projectName}}_id_4" (dblclick)="nodeInfo_selected(projectName,4)">
                    <div class="card-body">
                    Initial RAX hypothesis
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-5 justify-content-center">
        <div class="card node {{projectName}}"  [ngClass]="{'checked':this.checked.node5}" id="{{projectName}}_id_5" cdkDragBoundary=".limit" cdkDrag (cdkDragMoved)="reDraw()" (dblclick)="nodeInfo_selected(projectName,5)">
            <div class="card-body">
                3.SCs identification
            </div>
        </div>
    </div>
    <div class="row m-5 justify-content-center">
        <div class="card node {{projectName}}"  [ngClass]="{'checked':this.checked.node6}" id="{{projectName}}_id_6" cdkDragBoundary=".limit" cdkDrag (cdkDragMoved)="reDraw()" (dblclick)="nodeInfo_selected(projectName,6)">
            <div class="card-body">
                4.SCs evaluation
            </div>
        </div>
    </div>
    <div class="row m-5 justify-content-center">
        <div class="card node {{projectName}}"  [ngClass]="{'checked':this.checked.node7}" id="{{projectName}}_id_7" cdkDragBoundary=".limit" cdkDrag (cdkDragMoved)="reDraw()" (dblclick)="nodeInfo_selected(projectName,7)">
            <div class="card-body">
                Overarching RAX hypothesis
            </div>
        </div>
    </div>
    <div class="row m-5 justify-content-center">
        <div class="card parent2" cdkDragBoundary=".limit" cdkDrag (cdkDragMoved)="reDraw()">
            <div class="card-body">
                <div class="row">
                    <div class="card node m-5 {{projectName}}" [ngClass]="{'checked':this.checked.node8}"  id="{{projectName}}_id_8" cdkDrag (cdkDragMoved)="reDraw()" (dblclick)="nodeInfo_selected(projectName,8)">
                        <div class="card-body">
                        NAM testing and evaluation(in vitro & in silico)
                        </div>
                    </div>
                </div>
                <div class="row"> 
                    <div class="card node m-5 col-3 {{projectName}}" [ngClass]="{'checked':this.checked.node9}" id="{{projectName}}_id_9" cdkDrag (cdkDragMoved)="reDraw()" (dblclick)="nodeInfo_selected(projectName,9)">
                        <div class="card-body">
                        TK
                        </div>
                    </div>
                    <div class="card node m-5 col-3 {{projectName}}" [ngClass]="{'checked':this.checked.node10}" id="{{projectName}}_id_10" cdkDrag (cdkDragMoved)="reDraw()" (dblclick)="nodeInfo_selected(projectName,10)">
                        <div class="card-body">
                        TD
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-5 justify-content-center">
        <div class="card node {{projectName}}"  [ngClass]="{'checked':this.checked.node11}" id="{{projectName}}_id_11" cdkDragBoundary=".limit" cdkDrag (cdkDragMoved)="reDraw()" (dblclick)="nodeInfo_selected(projectName,11)">
            <div class="card-body">
                5.Data gap filling
            </div>
        </div>
    </div>
    <div class="row m-5 justify-content-center">
        <div class="card node {{projectName}}"  [ngClass]="{'checked':this.checked.node12}" id="{{projectName}}_id_12" cdkDragBoundary=".limit" cdkDrag (cdkDragMoved)="reDraw()" (dblclick)="nodeInfo_selected(projectName,12)">
            <div class="card-body">
                6.Uncertainty assessment
            </div>
        </div>
    </div>
</div>



<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom">
                <h5 class="modal-title">{{ this?.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        {{this?.description}}
                    </div>
                </div>
                <div class="card" *ngIf="this?.input.length>0">
                    <h5 class="card-header bg-light p-1">Inputs</h5>
                    <div class="card-body p-0">
                        <div class="card m-0" *ngFor="let info of this?.input ; let i=index;"> 
                            <div class="card-header p-0">
                                <a class="btn m-0" data-toggle="collapse" href= "#accordion_{{ i }}" role="button" aria-expanded="false" >
                                    {{info.name}}
                                </a>   
                            </div>
                            <div class="collapse" id= "accordion_{{ i }}">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <div [innerHTML]="info.content">
                                            </div>       
                                        </div>
                                        <div class="col-6">
                                            <div [innerHTML]="info.comment">
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header bg-light p-1">Resources</h5>
                    <div class="card-body p-2">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p-1" *ngFor="let info of this?.resources ;">
                            {{info.resources_name}}  <a target="_blank" rel="noopener noreferrer" href="{{info.resources_link}}"> ( {{info.resources_link}} )</a>
                            </li>
                        
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header bg-light p-1">Output</h5>
                    <div class="card-body p-0">   
                        <ckeditor [editor]="Editor" [(ngModel)]="this.output"></ckeditor>
                    </div>
                </div>

                <div class="card">
                    <h5 class="card-header bg-light p-1">Comments</h5>
                    <div class="card-body p-0">
                        <ckeditor [editor]="Editor" [(ngModel)]="this.comments"></ckeditor>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="NodeCompleted(this?.project, this?.node_seq)">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCloseHandled()">Close</button>
            </div>
        </div>
    </div>
</div>