
<div id="{{projectName}}_workflow" style="max-width:421px" class="limit">
    <table> 
    <tr>
        <td>
            <div class="card node {{projectName}}" [ngClass]="{'checked':this.checked.node1}" id="{{projectName}}_id_1"    (click)="nodeInfo_selected(projectName,1)">
                <div class="card-body">
                    1.Problem formulation
                </div>
            </div>
        </td>
        <td></td>
    </tr>
    <tr class="parent">
        <td>                 
            <div class="m-1">
                <div><br></div>
            </div>
        </td>
        <td></td>
    </tr> 
    <tr class="parent">
        <td>
            <div class="card node {{projectName}}" [ngClass]="{'checked':this.checked.node2}" id="{{projectName}}_id_2" (click)="nodeInfo_selected(projectName,2)">
                <div class="card-body">
                2.TC Characterization
                </div>
            </div>
        </td>
        <td></td>
    </tr>
    <tr class="parent">
        <td>    
            <div class="card node {{projectName}}" [ngClass]="{'checked':this.checked.node3}" id="{{projectName}}_id_3" (click)="nodeInfo_selected(projectName,3)">
                <div class="card-body">
                Metabolism data gathering
                </div>
            </div>
        </td>
        <td>
            <div *ngIf="show_titles" id="tc_title" class="m-1" style="margin-right:0px;">
                <div style="padding-right:0px;" class="" >TC Characterization</div>
            </div>
        </td>
    </tr>
    <tr class="parent">
        <td>
            <div class="card node {{projectName}}" [ngClass]="{'checked':this.checked.node4}" id="{{projectName}}_id_4" (click)="nodeInfo_selected(projectName,4)">
                <div class="card-body">
                Initial RAX hypothesis
                </div>
            </div>
        </td>
        <td></td>
    </tr>
    <tr class="parent">
        <td>
            <div class="m-1">
                <div><br></div>
            </div>
        </td>
        <td></td>
    </tr>    
    <tr>
        <td>    
            <div class="card node {{projectName}}"  [ngClass]="{'checked':this.checked.node5}" id="{{projectName}}_id_5"    (click)="nodeInfo_selected(projectName,5)">
                <div class="card-body">
                    3.SCs identification
                </div>
            </div>
        <td></td>
    </tr>
    <tr>
        <td>
        <div class="card node {{projectName}}"  [ngClass]="{'checked':this.checked.node6}" id="{{projectName}}_id_6"    (click)="nodeInfo_selected(projectName,6)">
            <div class="card-body">
                4.SCs evaluation
            </div>
        </div>
        <td></td>
    </tr>
    <tr>
        <td>
        <div class="card node {{projectName}}"  [ngClass]="{'checked':this.checked.node7}" id="{{projectName}}_id_7"    (click)="nodeInfo_selected(projectName,7)">
            <div class="card-body">
                Overarching<br>
                RAX hypothesis
            </div>
        </div>
        <td></td>
    </tr>
    <tr class="parent2">
        <td>
            <div class="m-1">
                <div><br></div>
            </div>
        </td>
        <td></td>
    </tr>
    <tr class="parent2">
        <td>
            <div class="card node {{projectName}}" [ngClass]="{'checked':this.checked.node8}"  id="{{projectName}}_id_8"   (click)="nodeInfo_selected(projectName,8)">
                <div style="padding-left:3rem;padding-right:3rem;" class="card-body">
                NAM testing<br>
                and evaluation<br>
                (in vitro & in silico)
                </div>
            </div>
        </td>
        <td>
            <div *ngIf="show_titles" id="nam_title" class="m-1" style="color:rgb(245,245,245);margin-right:0px;">
                <div class="" >NAM based knowledge</div>
            </div>
        </td>
    </tr>
    <tr class="parent2">
        <td>
        <table><tr>
        <td>    
            <div style="box-sizing:content-box" class="card node {{projectName}} text-center" [ngClass]="{'checked':this.checked.node9}" id="{{projectName}}_id_9"   (click)="openTK()">
                <div class="card-body">
                TK
                </div>
            </div>
        </td>
        <td> 
        
            <div style="box-sizing:content-box" class="card node {{projectName}} justify-content-end text-center" [ngClass]="{'checked':this.checked.node10}" id="{{projectName}}_id_10"   (click)="openTD()">
                <div class="card-body">
                TD
                </div>
            </div>
        </td>
        </tr></table>
        </td>
        <td></td>
    </tr>
    <tr class="parent2">
        <td>
            <div class="m-1">
                <div><br></div>
            </div>
        </td>
        <td></td>
    </tr> 
    <tr>
        <td>    
            <div class="card node {{projectName}}" style="box-sizing:content-box"  [ngClass]="{'checked':this.checked.node11}" id="{{projectName}}_id_11"    (click)="nodeInfo_selected(projectName,11)">
                <div class="card-body">
                    5.Uncertainty assessment
                </div>
            </div>
        <td>
        <td></td>
    </tr>
    <tr>
        <td> 
        <div class="card node {{projectName}}"  [ngClass]="{'checked':this.checked.node12}" id="{{projectName}}_id_12"    (click)="nodeInfo_selected(projectName,12)">
            <div class="card-body">
                6.Data gap filling
            </div>
        </div>
        <td></td>
    </tr>
</table>