<h4>{{this.projectName}}</h4>

<div class="limit">
    <div class="row">
        <div class="card col-3"  id="id_1" cdkDragBoundary=".limit" cdkDrag (onmove)="alert('1')">
            <div class="card-body">
                This is some text within a card body.
            </div>
        </div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row">
    <div class="card col-3" id="id_2"cdkDragBoundary=".limit" cdkDrag>
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                This is some text within a card body.
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
    <div class="card col-3" cdkDragBoundary=".limit" cdkDrag>
        <div class="card-body">
        This is some text within a card body.
        </div>
    </div>
    </div>

<button type="button" class="btn btn-primary" (click)="repaint()">Primary</button>

</div>