
.fast {
    border: 3px solid #051;
    opacity: 0.5;
    z-index: 1;
    border-radius: 100%;
    pointer-events: none;
}

.card.node {
    background-color: #D8D8D8;
    cursor: pointer;
}
.card.node.checked{
    background-color:#FFB266;
}