<div class="flowchart-operator flowchart-default-operator ui-draggable selected" style="top: 20px; left: 20px;">
    <div class="flowchart-operator-title ui-draggable-handle">Read SDF</div>
    <div class="flowchart-operator-inputs-outputs">
        <div class="flowchart-operator-inputs"></div>
        <div class="flowchart-operator-outputs">
            <div class="flowchart-operator-connector-set">
                <div class="flowchart-operator-connector">
                    <div class="flowchart-operator-connector-label">OUT</div>
                    <div class="flowchart-operator-connector-arrow"></div>
                    <div class="flowchart-operator-connector-small-arrow" style="border-left-color: transparent;"></div>
                </div>
            </div>
            <div class="flowchart-operator-connector-set">
                <div class="flowchart-operator-connector">
                    <div class="flowchart-operator-connector-label">ERROR</div>
                    <div class="flowchart-operator-connector-arrow"></div>
                    <div class="flowchart-operator-connector-small-arrow" style="border-left-color: transparent;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
