.mat-elevation-z8 {    
    overflow-y: auto;
    max-height: 80vh;
}

.bk-tooltip {
  max-width: 20vw !important;
}

.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  pointer-events: none !important;
  top: 0 !important;
  left: 0 !important;
  height: 100% !important;
  width: 100% !important;
}
.cdk-overlay-container {
  position: fixed !important;
  z-index: 1000 !important;
}

.cdk-overlay-pane {
  position: absolute !important;
  pointer-events: auto !important;
  box-sizing: border-box !important;
  z-index: 1000 !important;
  display: flex !important;
  max-width: 100% !important;
  max-height: 100% !important;
}
