
<div class="d-flex flex-row">
    <div>
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li *ngFor="let project of this.globals.active_projects.slice().reverse(); let i = index" class="nav-item" (click)="visibleProject(project)">

                <a class="nav-link" [ngClass]="{'active show': project===this.globals.visible_project}" data-toggle="pill" href="#pills-{{project}}" role="tab" aria-controls="pills-Project1" aria-selected="true">
                        {{project}}<button type="button" class="close" aria-label="Close"(click)="deleteProject(project)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </a>
            </li>        
        </ul>
    </div>
    
    <div class="ml-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Projects
            </button>
            <div class="dropdown-menu">
                <!--<div class="dropdown-divider"></div>-->
                <a *ngFor="let project of this.globals.actual_user.projects;" class="dropdown-item"  (click)="openProject(project)"> {{project}} </a>
            </div>
        </div>
    </div>
</div>
