<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="d-flex flex-row">
      <app-sidebar></app-sidebar>
      <div class="d-flex flex-column col-lg">
          <div class="d-flex flex-row">
              <button type="button" id="sidebarCollapse" class="btn btn-primary">
                  <i class="fas fa-align-left"></i>
                  <span>&#9776;Sidebar</span>
              </button>
          </div>
          <app-tabs></app-tabs>
          <app-workflows></app-workflows>        
      </div>
  </div>      
</div>  
