<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="d-flex flex-row">
        <div id="sidebar" class="d-flex flex-column col-lg-2 bg-light">
            <app-sidebar></app-sidebar>
        </div>
        <div class="d-flex flex-column col-lg">
            <div class="d-flex flex-row">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fas fa-align-left"></i>
                    <h3><span>&#9776;</span></h3>
                </button>
            </div>
            <app-tabs></app-tabs>
            <app-workflows></app-workflows>   
               
        </div>
       <!-- <div id="node-info" class="d-flex flex-column col-lg-8 bg-light" [ngClass]="{'active':this.globals.node_visible}">
            <app-node-info></app-node-info>       
        </div>-->
    </div>      
</div> 

