
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

/*#node-info {
   
    min-width:900px;
    max-width: 900px;
    transition: all 0.3s;
}

#node-info.active {
    visibility:hidden;
    overflow:hidden;
    margin-left: -900px;
    transition: all 0.1s;
}*/


a:hover{
    cursor: pointer;
}

mwlResizable {
    box-sizing: border-box; /*required for the enableGhostResize option to work*/
}

.rectangle {
    position: relative;
    top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    background-color: #fd4140;
    border: solid 1px #121621;
    color: #121621;
    margin: auto;
}

