<div *ngIf="response" class="card">
    <div class="row m-5 form-group" style="margin-bottom:0px !important;margin-top:10px !important">
    <table class="table">
        <tr>
            <th>Compound #</th><th>Name</th><th>Calculated PCs</th><th>PCs</th><th>Bioactivities</th>
        </tr>
        <tr *ngFor="let compound of response; index as i;">
            <td>{{compound.int_id}}</td>
            <td>{{compound.name}}</td>
            <!--<td>{{len(compound.data_matrix[0]) == 0 ? "0" : compound.data_matrix[0].calculated_pc_count.calculated_pc_count}}</td>
            <td>{{len(compound.data_matrix[0]) == 0 ? "0" : compound.data_matrix[0].pc_count.pc_count}}</td>
            <td>{{len(compound.data_matrix[0]) == 0 ? "0" : compound.data_matrix[0].bioactivity_count.bioactivity_count}}</td>
            -->
            <td [ngClass]="{ 'grey': len(compound.data_matrix[0]) == 0 || compound.data_matrix[0].calculated_pc_count.calculated_pc_count == 0 }">{{len(compound.data_matrix[0]) == 0 ? "0" : compound.data_matrix[0].calculated_pc_count.calculated_pc_count}}</td>
            <td [ngClass]="{ 'grey': len(compound.data_matrix[0]) == 0 || compound.data_matrix[0].pc_count.pc_count == 0 }">{{len(compound.data_matrix[0]) == 0 ? "0" : compound.data_matrix[0].pc_count.pc_count}}</td>
            <td [ngClass]="{ 'grey': len(compound.data_matrix[0]) == 0 || compound.data_matrix[0].bioactivity_count.bioactivity_count == 0 }">{{len(compound.data_matrix[0]) == 0 ? "0" : compound.data_matrix[0].bioactivity_count.bioactivity_count}}</td>
            
        </tr>
    </table>
    </div>
</div>
<div *ngIf="!response" class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
            <div>
                <mat-spinner ProgressSpinnerMode="indeterminate" diameter="100"></mat-spinner>
            </div>
    </div>
</div>
