<div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" (click)="newProject()">
          <i class="mdi mdi-add-circle" ></i>
          New Project 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" >
          <i class="mdi mdi-add-circle" ></i>
          New Workflow 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >
            <i class="mdi mdi-save" ></i>
          Save
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" >
              <i class="mdi mdi-save" ></i>
            Save all
          </a>
        </li>
      <li class="nav-item">
          <a class="nav-link disabled" >
            <i class="mdi mdi-add-circle" ></i>
            New User 
          </a>
        </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Workflows</span>
      <a class="d-flex align-items-center text-muted" data-toggle="collapse" href="#workflows" role="button" aria-expanded="false" aria-controls="workflows">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
      </a>
    </h6>
    <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="workflows">
            <div class="card card-body">
              
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#" class="badge badge-light">
                        <i class="mdi mdi-send" ></i>
                        Workflow1
                      </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="badge badge-light">
                          <i class="mdi mdi-send" ></i>
                          Workflow2 
                        </a>
                      </li>
                      <li class="nav-item">
                          <a href="#" class="badge badge-light">
                            <i class="mdi mdi-send" ></i>
                            Workflow3
                          </a>
                       </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
  </div>