<div class="limit">
    <div class="row p-5 justify-content-center">
        <div>
            <div style="display:inline-block;width:0.05rem"></div>
            <div style="display:inline-block">
                <div class="card card-body" style="max-width:100%;width:auto;border:0px;box-shadow:none">
                    <div class="row" style="margin-left:0px;margin-right:0px;">
                        <div class="card node {{projectClass}}" style="margin-left:0px;margin-right:0px;"  [ngClass]="{'checked':this.checked.node13}" id="{{projectClass}}_id_13"    (click)="nodeInfo_selected(mainProjectName,13)">
                            <div class="card-body">
                                AOP known
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div style="display:inline-block;width:1rem"></div>
            <div style="display:inline-block">
                <div class="card-body card" style="max-width:100%;width:auto;border:0px;box-shadow:none">
                    <div class="row" style="margin-left:0px;margin-right:0px;">
                        <div class="card node {{projectClass}}" style="margin-left:0px;margin-right:0px;" [ngClass]="{'checked':this.checked.node14}" id="{{projectClass}}_id_14"    (click)="nodeInfo_selected(mainProjectName,14)">
                            <div class="card-body">
                                Shared critical effects
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="card parent" style="display:block;">
                <div class="card-body" style="display:inline-block">
                    <div class="card node {{projectClass}}" [ngClass]="{'checked':this.checked.node16}" id="{{projectClass}}_id_16" (click)="nodeInfo_selected(mainProjectName,16)">
                        <div class="card-body">
                            Test for KEs<br>
                            and MIEs
                        </div>
                    </div>
                </div>
                <div class="card-body" style="display:inline-block">
                    <div class="card node {{projectClass}}" [ngClass]="{'checked':this.checked.node17}" id="{{projectClass}}_id_17" (click)="nodeInfo_selected(mainProjectName,17)">
                        <div class="card-body">
                                Test for models mimicking<br>
                                organ responses
                        </div>
                    </div>
                </div>
                <div class="card-body row justify-content-center" style="margin-left:0px;margin-right:0px;">
                    <div class="card col-5 node {{projectClass}}" style="padding-left:0px;padding-right:0px;" [ngClass]="{'checked':this.checked.node19}" id="{{projectClass}}_id_19" (click)="nodeInfo_selected(mainProjectName,19)">
                        <div class="card-body">
                            Evaluation of medium
                            and high dose effects
                        </div>
                    </div>
                    <div style="width:12%"></div>
                </div>
                <p class="p-2">Targeted<br>tests</p>
            </div>
        </div>
        <div>
            <div class="card-body">
                <div class="row" style="margin-left:0px;margin-right:0px;">
                    <div class="card node {{projectClass}}" style="margin-left:0px;margin-right:0px;max-width:100%;width:100%" [ngClass]="{'checked':this.checked.node15}" id="{{projectClass}}_id_15"    (click)="nodeInfo_selected(mainProjectName,15)">
                        <div class="card-body">
                            Unclear / no shared<br> critical  lead effects
                        </div>
                    </div>
                </div>
            </div>
            <div class="card parent" style="display:block;">
                <div class="card-body">
                    <div class="card node {{projectClass}}" [ngClass]="{'checked':this.checked.node18}" id="{{projectClass}}_id_18" (click)="nodeInfo_selected(mainProjectName,18)">
                        <div class="card-body">
                                Broad testing: identify<br>
                                potential hazard
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card node {{projectClass}}" [ngClass]="{'checked':this.checked.node20}" id="{{projectClass}}_id_20" (click)="nodeInfo_selected(mainProjectName,20)">
                        <div class="card-body">
                                Generate MoA<br>
                                hypothesis
                        </div>
                    </div>
                </div>
                <br>
                <p class="p-2">Untargeted<br>tests</p>
            </div>
            <div class="card-body">
                <div class="card node {{projectClass}}" [ngClass]="{'checked':this.checked.node21}" id="{{projectClass}}_id_21" (click)="nodeInfo_selected(mainProjectName,21)">
                    <div class="card-body">
                            Run targeted tests
                            <br>
                            and continue with:<br>
                            AOP known <br>
                            and/or<br>
                            Shared critical effects
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>