<div class="row m-5 form-group" style="margin-bottom:0px !important;margin-top:10px !important">
    <table style="width:100%;vertical-align:bottom">
        <tr>
            <ng-container [ngSwitch]="input_type_radio_value">
                <ng-container *ngSwitchCase="'smiles'">
                    <td style="width:9rem">
                        <label style="margin-bottom:0px" for="chembl_search_string" >SMILES:</label>
                    </td>
                    <td>

                        <input id="chembl_search_string" class="form-control" name="search_string" [(ngModel)]="chembl_search_string" type="text">

                    </td>
                    <td style="width:8rem"><button class="btn btn-primary" [disabled]="chembl_running" (click)="chemblIdFromSmilesButton()">Search</button>
                        <mat-spinner *ngIf="chembl_running" style="display:inline-block" ProgressSpinnerMode="indeterminate" diameter="14"></mat-spinner>
                    </td>
                </ng-container>
                <ng-container *ngSwitchCase="'compound'">
                    <td style="width:9rem">
                        <label style="display:inline;margin-bottom:0px" for="selected_compound" >Compound:</label>
                        <ng-container *ngIf="(ra_compound_service.compounds$ | async) as compounds">
                        <img *ngIf="compounds.length > 1" [ngbTooltip]="compound_help" style="width: 1.5rem; height: 1.5rem; margin-left: 1rem" src="/assets/icons/help-browser.svg">
                        </ng-container>
                    </td>
                    <td style="width:auto">
                        <ng-container *ngIf="(ra_compound_service.compounds$ | async) as compounds">
                            <ng-container *ngIf="compounds[0] as compound">
                            <label *ngIf="compounds.length === 1" style="display:inline;margin-bottom:0px" id="selected_compound">{{ compound.name }}</label>
                            </ng-container>
                            <mat-form-field *ngIf="compounds.length > 1">
                                <mat-select id="selected_compound" class="form-control" name="selected_compound_name" (selectionChange)="this.compoundChange($event)" [(ngModel)]="this.selected_compound_int_id">
                                    <mat-option *ngFor="let compound of (ra_compound_service.compounds$ | async)" [value]="compound.int_id" [innerHTML]="compound.int_id.toString()+': '+compound.name"></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                    </td>
                    
                    <td style="width:8rem">
                        <ng-container *ngIf="(ra_compound_service.compounds$ | async) as compounds">
                            <ng-container *ngIf="compounds.length > 1 || true">
                                <button class="btn btn-primary" [disabled]="chembl_running || typeof(this.selected_compound_int_id) === 'undefined' || this.selected_compound_int_id === null" (click)="chemblIdFromCompoundButton()">Search</button>
                                <mat-spinner *ngIf="chembl_running" style="display:inline-block" ProgressSpinnerMode="indeterminate" diameter="14"></mat-spinner>
                            </ng-container>
                        </ng-container>
                    </td>
                </ng-container>
            </ng-container>
        <tr>
            <td style="width:9rem"></td>
            <td>
                <ng-container *ngIf="input_type_radio_show">
                    
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="input_type_radio1" name="input_type_radio" ng-control="input_type_radio" class="custom-control-input" [value]="'smiles'" [(ngModel)]="input_type_radio_value">
                        <label class="custom-control-label" for="input_type_radio1">SMILES</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="input_type_radio2" name="input_type_radio" ng-control="input_type_radio" class="custom-control-input" (change)="this.ra_compound_service.getCompounds(this.info.project)" [value]="'compound'" [(ngModel)]="input_type_radio_value">
                        <label class="custom-control-label" for="input_type_radio2">Saved compound</label>
                    </div>
                </ng-container>                  
            </td>

        </tr>

        <tr>

                    <td style="width:9rem"><label style="margin-bottom:0px" for="chembl_chembl_ids" >ChEMBL ID(s):</label></td>
                    <td style="width:auto">
                        <div class="">
                            <app-molecule-picker [identifier]="'tc_chembl'" [smiles]="this.chembl_smiles_items" [selection]="this.chembl_selected_item_int_id_list" (selected)="moleculeSelected($event)" [multiple]="true" [show_labels]="true"></app-molecule-picker>
                        </div>
<!--                             <select id="chembl_chembl_ids" size=5 class="form-control" name="selected_cas" [(ngModel)]="chembl_selected_item_int_id_list" multiple>
                            <option *ngFor="let item of chembl_item_list" [ngValue]="item.int_id" [innerHTML]="item.html_rep"></option>
                            </select> -->
                            
                    </td>
                    <td style="width:auto">
                    </td>
        </tr>
        <tr>
            <td><button style="display:inline-block" class="btn" [disabled]="chembl_selected_item_int_id_list.length === 0" (click)="retrieveActivityData($event)">Retrieve</button></td>
            <!-- <td style="display:inline-block"><button style="display:inline-block" class="btn" [disabled]="chembl_selected_item_int_id_list.length === 0" (click)="chemblDeleteSelectedItems()">Delete</button>
            <button style="display:inline-block" class="btn" [disabled]="chembl_selected_item_int_id_list.length === 0" (click)="openCopy(content,true)">Copy in clipboard</button>
            <button style="display:inline-block" class="btn" [disabled]="chembl_item_list.length === 0" (click)="openCopy(content,false)">Copy all in clipboard</button></td> -->
        </tr>
    </table>
    <div>
        <p *ngIf="typeof(activity_compound) !== 'undefined'"><b [innerText]="'Compound #' + activity_compound.int_id.toString()+ ': ' + activity_compound.name"></b></p>
        <p *ngIf="typeof(activity_chembl_ids) !== 'undefined' && activity_chembl_ids.length > 0"><b [innerText]="activity_chembl_ids.join(',')"></b></p>
        <p *ngIf="typeof(activity_chembl_ids) !== 'undefined' && activity_chembl_ids.length === 0">No CHEMBL IDs found.</p>
        <button  class="btn btn-primary" [disabled]="chembl_running || typeof(activity_compound) === 'undefined' || this.chembl_activity_rows.length === 0" (click)="saveActivityButton()">Save</button>
        <div [innerHTML]="activity"></div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="chembl-copy-clipboard-basic-title">ChEMBL(s)</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="input-group">
                <p>The following ChEMBL have been copied in your clipboard:</p>
            </div>
            <div class="input-group">
            <textarea id="chembl_copy_textarea" style="width:100%" class="form-control" (change)="chemblChangeContentItemTextarea()" [(ngModel)]="chembl_content_item_textarea" rows=10></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('close')">Close</button>
    </div>
</ng-template>
<ng-template #compound_help>
    <p style="text-align: left;">Select a saved compound to retrieve the data available in ChEMBL.</p>
</ng-template>