<div class="row m-5 form-group" style="margin-bottom:0px !important;margin-top:10px !important">
    <table style="width:100%;vertical-align:bottom">
        <tr>

                <td style="width:9rem">
                    <label style="display:inline; margin-bottom:0px" for="name2cas_search_string" >Compound name <br>or CAS registry number:</label>
                    <img [ngbTooltip]="search_help" style="width: 1.5rem; height: 1.5rem; margin-left: 1rem" src="/assets/icons/help-browser.svg">
                </td>
                <td><input id="name2cas_search_string" class="form-control" name="search_string" [(ngModel)]="search_string" type="text" [disabled]="this.cas.from_name_running || this.smiles.from_name_running"></td>
                <td style="width:8rem"><button class="btn btn-primary" [disabled]="this.cas.from_name_running || this.smiles.from_name_running || this.compound_name_running" (click)="itemsFromNameButton()">Search</button>
                    <mat-spinner *ngIf="this.cas.from_name_running || this.smiles.from_name_running" style="display:inline-block" ProgressSpinnerMode="indeterminate" diameter="14"></mat-spinner>
                </td>

        </tr>
        <tr>
            <td></td>
            <td><br>
                <div class="form-check">
                    <input class="form-check-input" id="show-name2cas-data" type="checkbox" (change)="changeItemsShowCactvsData()" [(ngModel)]="show_cactvs_data">
                    <label class="form-check-label" for="show-name2cas-data">Show CACTVS data</label>
            </div><br></td>
            <td></td>
        </tr>
        <tr>
            <td style="width:9rem"><label style="display:inline; margin-bottom:0px" for="selected_compound_name" >Compound<br>name:</label>
                <img [ngbTooltip]="name_help" style="width: 1.5rem; height: 1.5rem; margin-left: 1rem" src="/assets/icons/help-browser.svg">
                <br><br></td>
            
            <td style="width:auto"><mat-form-field><mat-select id="selected_compound_name" class="form-control" name="selected_compound_name" (selectionChange)="this.compoundNameChange($event)" [(ngModel)]="this.compound_name_int_id">
                <ng-container *ngIf="this.show_cactvs_data"><mat-option *ngFor="let item of this.compound_synonyms" [value]="item.int_id" [innerHTML]="item.html_rep"></mat-option></ng-container>
                <ng-container *ngIf="!this.show_cactvs_data"><mat-option *ngFor="let item of this.compound_synonyms" [value]="item.int_id" [innerText]="item.value"></mat-option></ng-container>
            </mat-select>
            </mat-form-field>
            <br>
            <br>
            </td>

        </tr>
        <tr>

                <td style="width:9rem"><label style="margin-bottom:0px" for="name2cas_cas" >CAS registry number(s):</label></td>
                <td style="width:auto">
                        <select id="name2cas_cas" size=5 class="form-control" name="selected_cas" [(ngModel)]="this.cas.selected_item_int_id_list" multiple>
                        <ng-container *ngIf="this.cas.item_show_cactvs_data"><option *ngFor="let item of this.cas.item_list" [ngValue]="item.int_id" [innerHTML]="item.html_rep"></option></ng-container>
                        <ng-container *ngIf="!this.cas.item_show_cactvs_data"><option *ngFor="let item of this.cas.item_set" [ngValue]="item.int_id">{{ item.value }}</option></ng-container>
                        </select>
                        
                </td>
                <td style="width:auto">
                </td>
        </tr>
        <tr>
            <td><button class="btn" [disabled]="this.cas.item_list.length === 0 || !this.cas.item_show_cactvs_data" (click)="this.cas.removeItemValueDuplicates();">Remove duplicates</button><br></td>
            <td style="display:inline-block"><button style="display:inline-block" class="btn" [disabled]="this.cas.selected_item_int_id_list.length === 0" (click)="this.cas.deleteSelectedItems()">Delete</button>
            <button style="display:inline-block" class="btn" [disabled]="this.cas.selected_item_int_id_list.length === 0" (click)="openCopy(contentCAS,'cas',true)">Copy in clipboard</button>
            <button style="display:inline-block" class="btn" [disabled]="this.cas.item_list.length === 0" (click)="openCopy(contentCAS,'cas',false)">Copy all in clipboard</button></td>

        </tr>
    </table>
</div>
<br>
<div class="row m-5" style="margin-top:0px !important; margin-bottom:10px !important">
    <div *ngIf="this.cas.from_name_executed">
    <!--TODO: sentences about how many cas numbers have been found-->
    <label *ngIf="this.cas.item_list.length !== 0 && this.cas.selected_item_int_id_list.length === 0 && !this.cas.from_name_running" >
        <ng-container *ngIf="this.cas.item_show_cactvs_data">{{this.cas.item_list.length}} CAS registry number<!--
        --><ng-container *ngIf="this.cas.item_list.length > 1">s</ng-container> found.</ng-container> 
        <ng-container *ngIf="!this.cas.item_show_cactvs_data">{{this.cas.item_set.length}} CAS registry number<!--
        --><ng-container *ngIf="this.cas.item_set.length > 1">s</ng-container> found.</ng-container>
    </label>
    <label *ngIf="this.cas.selected_item_int_id_list.length === 1 && this.cas.item_show_cactvs_data" [innerHTML]="this.cas.current_item.html_rep"></label>
    <label *ngIf="this.cas.selected_item_int_id_list.length > 1 || this.cas.selected_item_int_id_list.length === 1 && !this.cas.item_show_cactvs_data" >Selected {{this.cas.selected_item_int_id_list.length}} CAS registry numbers.</label>
    </div>
</div>

<div class="row m-5 form-group" style="margin-bottom:0px !important;margin-top:10px !important">
    <table style="width:100%;vertical-align:bottom">
        <tr>

            <td style="width:9rem"></td>
            <td style="width:auto">
                <div class="form-check card-block mt4">
                    <input class="form-check-input" id="show-smiles" type="checkbox" [(ngModel)]="this.show_smiles">
                    <label class="form-check-label" for="show-smiles">Show SMILES.</label>
                </div> 
            </td>
            <td style="width:8rem">
            </td>
        </tr>            
        <tr>

                <td style="width:9rem"><label style="margin-bottom:0px" for="name2smiles_smiles" >Structures:</label></td>
                <td style="width:auto">
                    <div class="">
                        <app-molecule-picker *ngIf="!this.show_smiles" [identifier]="'tc'" [smiles]="this.smiles.item_set" [selection]="this.smiles.selected_item_int_id_list" (selected)="moleculeSelected($event)"></app-molecule-picker>
                    </div>
                    <div class="panel-body card-block" [style.display]="this.sanitizer.bypassSecurityTrustStyle(this.show_smiles ? 'block' : 'none')">
                            <select id="name2smiles_smiles" size=5 class="form-control" name="selected_smiles" [(ngModel)]="this.smiles.selected_item_int_id_list" multiple>
                            <ng-container *ngIf="this.smiles.item_show_cactvs_data"><option *ngFor="let item of this.smiles.item_list" [ngValue]="item.int_id" [innerHTML]="item.html_rep"></option></ng-container>
                            <ng-container *ngIf="!this.smiles.item_show_cactvs_data"><option *ngFor="let item of this.smiles.item_set" [ngValue]="item.int_id">{{item.value}}</option></ng-container>
                            </select>
                    </div>
                </td>
                <td style="width:8rem">
                </td>
        </tr>
        <tr *ngIf="this.show_smiles">
            <td><button class="btn" [disabled]="this.smiles.item_list.length === 0 || !this.smiles.item_show_cactvs_data" (click)="this.smiles.removeItemValueDuplicates();">Remove duplicates</button><br></td>
            <td style="display:inline-block"><button style="display:inline-block" class="btn" [disabled]="this.smiles.selected_item_int_id_list.length === 0" (click)="this.smiles.deleteSelectedItems()">Delete</button>
            <button style="display:inline-block" class="btn" [disabled]="this.smiles.selected_item_int_id_list.length === 0" (click)="openCopy(contentSmiles,'smiles',true)">Copy in clipboard</button>
            <button style="display:inline-block" class="btn" [disabled]="this.smiles.item_list.length === 0" (click)="openCopy(contentSmiles,'smiles',false)">Copy all in clipboard</button></td>
        </tr>
    </table>
</div>
<br>
<div class="row m-5" style="margin-top:0px !important; margin-bottom:10px !important">
    <div *ngIf="this.smiles.from_name_executed">
    <!--TODO: sentences about how many smiles numbers have been found-->
    <label *ngIf="this.smiles.item_list.length !== 0 && this.smiles.selected_item_int_id_list.length === 0 && !this.smiles.from_name_running" >
        <ng-container *ngIf="this.smiles.item_show_cactvs_data">{{this.smiles.item_list.length}} SMILES found.</ng-container>
        <ng-container *ngIf="!this.smiles.item_show_cactvs_data">{{this.smiles.item_set.length}} SMILES found.</ng-container> 
    </label>
    <label *ngIf="this.smiles.selected_item_int_id_list.length === 1 && this.smiles.item_show_cactvs_data" [innerHTML]="this.smiles.current_item.html_rep"></label>
    <label *ngIf="this.smiles.selected_item_int_id_list.length > 1 || this.smiles.selected_item_int_id_list.length === 1 && !this.smiles.item_show_cactvs_data" >Selected {{this.smiles.selected_item_int_id_list.length}} SMILES.</label>

    </div>
</div>

<ng-template #contentCAS let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="name2cas-copy-clipboard-basic-title">CAS registry number(s)</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="input-group">
                <div class="form-check">
                    <input class="form-check-input" id="show-name2cas-copy-data" type="checkbox" (change)="changeShowName2ItemData(this.cas)" [(ngModel)]="this.cas.item_copy_show_cactvs_data">
                    <label class="form-check-label" for="show-name2cas-copy-data">Show CACTVS data</label>
                </div>  
            </div>
            <br>
            <div class="input-group">
                <p>The following CAS registry number data has been copied in your clipboard:</p>
            </div>
            <div class="input-group">
            <textarea id="name2cas-copy-textarea" style="width:100%" class="form-control" (change)="changeContentItemTextarea(this.cas)" [(ngModel)]="this.cas.content_item_textarea" rows=10></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('close')">Close</button>
    </div>
</ng-template>
<ng-template #contentSmiles let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="name2smiles-copy-clipboard-basic-title">SMILES</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <div class="input-group">
                    <div class="form-check">
                        <input class="form-check-input" id="show-name2smiles-copy-data" type="checkbox" (change)="changeShowName2ItemData(this.smiles)" [(ngModel)]="this.smiles.item_copy_show_cactvs_data">
                        <label class="form-check-label" for="show-name2smiles-copy-data">Show CACTVS data</label>
                    </div>  
                </div>
                <br>
                <div class="input-group">
                    <p>The following SMILES data has been copied in your clipboard:</p>
                </div>
                <div class="input-group">
                <textarea id="name2smiles-copy-textarea" style="width:100%" class="form-control" (change)="changeContentItemTextarea(this.smiles)" [(ngModel)]="this.smiles.content_item_textarea" rows=10></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('close')">Close</button>
        </div>
</ng-template>
<ng-template #search_help>
    <p style="text-align: left;">Retreive compound definition searching by CAS registry number or compound name.</p>
</ng-template>
<ng-template #name_help>
    <p style="text-align: left;">Select a name for the compound.</p>
</ng-template>