.card{
    margin-bottom: 10px;
}

.node-info{
    padding-top: 10px;
    padding-left: 10px;


}

.input{
    overflow-x: scroll;
}

.btn {
    margin-right: 10px;
}
.bmd-btn-fab-sm{
    margin-right: 0px;
    font-size: 15px;
}

.form-inline{
  margin:0px;  
}
.btn-column{
    width: 1.3rem;
    min-width: 1.3rem;
    height: 1.3rem;
}
i { cursor: pointer; 
}
.btn-column{
    width: 1.3rem;
    min-width: 1.3rem;
    height: 1.3rem;
}
