<nav class="node-info">
  <div class="row align-items-center justify-content-start">
    <div class="col">
        <h4>{{this.globals.actual_node.title}}</h4>
    </div>
    <div class="col-3">
        <button *ngIf="this.globals.actual_node.executed" type="button" class="btn btn-success bmd-btn-fab bmd-btn-fab-sm">
            <i class="mdi mdi-done"></i>
          </button>
          <button *ngIf="!this.globals.actual_node.executed" type="button" class="btn btn-danger bmd-btn-fab bmd-btn-fab-sm">
              <i class="mdi mdi-clear"></i>
            </button>
         
    </div>
    </div>
    <div class="card">
      <h5 class="card-header">INFO</h5>
      <div class="card-body">
          {{this.globals.actual_node.info}}
      </div>
    </div>
    <div class="card">
        <h5 class="card-header">Input</h5>
        <div class="card-body input">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Smile</th>           
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Aspirin</th>
                    <td>CC(=O)OC1=CC=CC=C1C(=O)O</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">Parameters</h5>
        <div class="card-body">
            <a href="#" class="btn btn-primary">ACTIONS TO APPLY</a>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">OutPut</h5>
        <div class="card-body">
            <div class="card-body input">
                <!--<table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Smile</th>
                        <th scope="col">InChI Key</th>
                        <th scope="col">CAS-RN</th>
                        <th scope="col">PubMed ID</th>
                        <th scope="col">ChEMBL ID</th>                  
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Aspirin</th>
                        <td>CC(=O)OC1=CC=CC=C1C(=O)O</td>
                        <td>BSYNRYMUTXBXSQ-UHFFFAOYSA-N</td>
                        <td>50-78-2</td>
                        <td>2244</td>
                        <td>CHEMBL25</td>      
                      </tr>
                    </tbody>
                </table>-->
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3">
          <button type="button" class="btn btn-raised btn-lg" (click)="NodeCompleted(this.globals.actual_node.id)">Run</button>
      </div>
      <div class="col-3">
          <button type="button" class="btn btn-raised btn-lg" (click)="NodeReset(this.globals.actual_node.id)">Reset</button>
        </div>
    </div>
</nav>