<!--<nav class="node-info">-->
    <div class="card">
      <div class="card-body">
         {{description}}
      </div>
    </div>
    <div class="card" *ngIf="input.length>0">
        <h5 class="card-header bg-light p-1">Inputs</h5>
        <div class="card-body p-0"> 
       <!-- <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            {{input[0].name}}
            </a> 
        </p> 
        <div class="collapse" id="collapseExample">
        {{input[0].content}}
            <div class="card card-body">-->
        <ck-editor name="editor3" [(ngModel)]="input[0].content" skin="moono-lisa" language="en" [fullPage]="true" inline="true"></ck-editor>   
       <!--     </div>
        </div> -->

        </div>
    </div>
    <div class="card">
        <h5 class="card-header bg-light p-1">Resources</h5>
        <div class="card-body">
            <a href="#" class="btn btn-primary">ACTIONS TO APPLY</a>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header bg-light p-1">Output</h5>
        <div class="card-body p-0">
            <ck-editor name="editor1" [(ngModel)]="output" skin="moono-lisa" language="en" [fullPage]="true" [inline]="inline_output"></ck-editor>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header bg-light p-1">Comments</h5>
        <div class="card-body p-0">
            <ck-editor name="editor2" [(ngModel)]="comments" skin="moono-lisa" language="en" [fullPage]="true" [inline]="inline_comments"></ck-editor>
        </div>
    </div>
    <div class="justify-content-end">
        <div class="col-4">
          <button type="button" class="btn btn-primary btn-lg active mr-2" (click)="NodeCompleted(this.nodeId)">Save</button>
          <button type="button" class="btn btn-secondary btn-lg active mr-2" (click)="NodeReset(this.nodeId)">Reset</button>
        </div>    
    </div>
   
<!--</nav>-->