<h1 mat-dialog-title style="margin-bottom: 0px;" [innerHTML]="this.info.name"></h1>
<div mat-dialog-content>
    <!--<div class="card">-->
      <div style="padding-top: 0px;" class="card-body" [innerHTML]="this.info.description">
      </div>
    <!--</div>-->
<!--     <div class="card" *ngIf="this.info.inputs.length>0">
        <h5 class="card-header bg-light p-1">Previous knowledge</h5>
        <div class="card-body p-0">
            <div class="card m-0" *ngFor="let info of this.info.inputs ; let i=index;"> 
                <div class="card-header p-0">
                    
                    <a class="btn m-0" data-toggle="collapse" href= "#accordion_{{ i }}" role="button" aria-expanded="false" [innerHTML]="info.name"></a> 
                   
                </div>
                <div class="collapse" id= "accordion_{{ i }}">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div>
                                    <h6>Content:</h6>
                                         <div [innerHTML]="info.content"></div>
                                </div>       
                            </div>
                            <div class="col-6">
                                <h6>Comments:</h6>
                                    <div [innerHTML]="info.comment">
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    
        
        
    <div class="card">
        <ng-container [ngSwitch]="this.info.node_seq">
            <ng-container *ngSwitchCase="2">
                <h5 [ngbTooltip]="tc_h5_help" class="card-header bg-light p-1">TC definition</h5>
                <app-tc-characterization [info]="this.info"></app-tc-characterization>
            </ng-container>
            <ng-template #tc_h5_help>
                <p>Target Compound definition</p>
            </ng-template>
            <ng-container *ngSwitchCase="4">
                <h5 class="card-header bg-light p-1">Resources</h5>
                <app-chembl-rax [info]="this.info"></app-chembl-rax>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <h5 class="card-header bg-light p-1">Resources</h5>
            </ng-container>
        </ng-container>
        
        <div *ngIf="this.info.resources.length > 0" class="card" style="margin-bottom:0px">
            <h6 class="card-header bg-light p-1">Links</h6>
            <div class="card-body p-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-1" *ngFor="let info of this.info.resources ;">
                    {{this.info.resources_name}}  <a target="_blank" rel="noopener noreferrer" href="{{this.info.resources_link}}"> ( {{this.info.resources_link}} )</a>
                    </li>
                
                </ul>
            </div>
        </div>
         
    </div>
    <!--<div class="card">
            <h5 class="card-header bg-light p-1">Input</h5>
            <ng-container [ngSwitch]="this.info.node_seq">
                <ng-container *ngSwitchDefault>
                    <div class="card-body p-0">
                    <ckeditor [editor]="Editor" [(ngModel)]="this.info.inputs_comments" [disabled]="inline_input"></ckeditor>
                    </div>
                </ng-container>
            </ng-container>
    </div>-->
           
    
    <div class="card">
            <h5 class="card-header bg-light p-1">New knowledge</h5>
            <app-compound *ngIf="this.info.node_seq == 2" [info]="this.info"  [ra_type]="'tc'"></app-compound>
            <ng-container [ngSwitch]="this.info.node_seq">
                <app-node1-problem-formulation [Editor]="this.Editor" [Editor_config]="this.Editor_config_copy" [info]="this.info" *ngSwitchCase="1"></app-node1-problem-formulation>
                <ng-container *ngSwitchDefault>
                    <div class="smiles-micromodal-container">
                        <app-smiles-micromodal [id]="this.ckeditor_id_outputs+'-smiles-micromodal'"></app-smiles-micromodal>
                    </div>
                    <div class="upload-angular-container" class="card-body p-0">
                        <ckeditor #ckeditor_dynamic_outputs [id]="this.ckeditor_id_outputs" [editor]="Editor" [config]="this.Editor_config_outputs" [(ngModel)]="this.info.outputs" [disabled]="inline_output"></ckeditor>
                    </div>
                </ng-container>
            </ng-container>
    </div>
    <div class="card">
        <h5 class="card-header bg-light p-1">Comments</h5>
        <div class="smiles-micromodal-container">
            <app-smiles-micromodal [id]="this.ckeditor_id_comments+'-smiles-micromodal'"></app-smiles-micromodal>
        </div>
        <div class="upload-angular-container" class="card-body p-0">
           <!--<textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="this.info.outputs_comments" rows="10"></textarea>-->
            <ckeditor #ckeditor_dynamic_comments [id]="this.ckeditor_id_comments" [editor]="Editor" [config]="this.Editor_config_comments" [(ngModel)]="this.info.outputs_comments" [disabled]="inline_comments"></ckeditor>
        </div>
    </div>
    <!--<footer class="text-right" style="font-size:0.75rem">Benzene icon made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></footer>-->
</div>      
      
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="'cancel'">Cancel</button>
    <button mat-button (click)="NodeCompleted()" [mat-dialog-close]="'OK'">OK</button>
</div>