/* You can add global styles to this file, and also import other style files */
html { 
    height:100%;
}
body { 
    position:absolute;
    min-height:100%;
    top:0; 
    bottom:0; 
    right:0; 
    left:0;
}
.container-fluid {
  height: 100%;
}
.modal-dialog{
    max-width: 80% !important;
    width:80% !important;
    height: 95% !important;
    overflow-y: auto;
}
.fast {
    border: 3px solid #051;
    opacity: 1.0;
    z-index: 1;
    border-radius: 100%;
    pointer-events: none;
}
