/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html { 
    height:100%;
}
body { 
    position:absolute;
    min-height:100%;
    top:0; 
    bottom:0; 
    right:0; 
    left:0;
}

.node .card-body {
    text-align: center !important;
}
.node .card-body li {
    text-align: left !important;
}
.container-fluid {
    height: 100%;
}

.cdk-overlay-pane {
    position: absolute !important;
    left: 10% !important;
}

.modal-dialog{
    max-width: 80% !important;
    width:80% !important;
    height: 95% !important;
    overflow-y: auto;
}
.fast {
    border: 3px solid #051;
    opacity: 1.0;
    z-index: 1;
    border-radius: 100%;
    pointer-events: none;
    box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
}

#nam_title {
    text-align: right !important;
}

.invisible_textarea {
    opacity: .01;
    height:0;
    position:absolute;
    z-index: -1;
    overflow: hidden;
}

.bk-tooltip {
    max-width: 20vw !important;
}